huggingface-hub==0.9.1
PyYAML==6.0
tqdm
transformers==4.20.1
torchtext==0.13.1
torch==1.12.1
Unidecode
einops
wandb
slack-sdk==3.18.2
tensorboard==2.10.0
requests
tokenizers==0.12.1
torch-cluster==1.6.0
torch-geometric==2.1.0.post1
torch-scatter==2.0.9
torch-sparse==0.6.15
torch-spline-conv==1.2.1